.align-center {
  text-align: center;
}

.wrap-todolist {
  /* border: 1px solid #ccc; */
}

.title {
  text-align: center;
  padding: 2rem 0;
}

.btn-success {
  margin: 1rem auto;
}

/* .nav {
  background-color: #eee;
} */

.nav-item {
  background-color: #eee;
  padding: 0;
}

.nav-item,
.todo-item {
  border: 1px solid #ccc;
  border-right: none;
}

.nav-item:last-child,
.todo-item:last-child {
  border-right: 1px solid #ccc;
}

.todo-item {
  border-top: none;
}

.nav-link:hover,
.nav-link:active {
  background-color: #ddd;
}

.todolist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.todolist-item {
  position: relative;
}

.todo {
  display: flex;
  list-style: none;
  padding: 0;
}

.todo-item {
  padding: 1rem 0  1rem 1rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-title {
  width: 100%;
  resize: none;
}

.modal-body {
  display: flex;
  justify-content: space-between;
}
